.caption {
  min-width: 1px;
}

.caption--size_1 {
  font-size: 3rem;
}

.caption--size_2 {
  font-size: 2rem;
}

.caption--size_3 {
  font-size: 1.6rem;
}

.caption--size_4 {
  font-size: 1.2rem;
}

.caption--size_5 {
  font-size: 1rem;
}

.caption--size_6 {
  font-size: 0.8rem;
}

.caption--color_1 {
  color: red;
}
