:root {
	/*fonts*/
	--roboro: "Roboto", sans-serif;
	--color-green: rgba(218, 218, 218, 0.692);
}
html,
body {
	font-size: 10px;
}

.wrapper__grid_main {
	display: grid;
	grid-template: [start] "header header" 80px [row2] [row2] "nav aside" 1fr [row-end] / 2fr 10fr;
	grid-gap: 10px;
}

.header {
	grid-area: header;
	padding: 0rem 3em;
	background-color: var(--color-green);
}
.header img {
	width: 80px;
}
.logo {
	min-width: 1px;
}
.logo__inside {
	font-family: var(--roboto);
	font-size: 3em;
}
.nav {
	grid-area: nav;
	background-color: var(--color-green);
}

.aside {
	grid-area: aside;
	background-color: var(--color-green);
}
