:root {
	/*fonts*/
	--roboro: "Roboto", sans-serif;
	--color_page: rgb(225, 225, 225);
	--color_nav__link: rgb(189, 0, 0);
}
html,
body {
	font-size: 10px;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

.wrapper__grid_main {
	display: grid;
	grid-template: [start] "header header" 80px [row2] [row2] "nav content" 1fr [row-end] / 2fr 10fr;
	grid-gap: 10px;
}

.header {
	grid-area: header;
	padding: 0rem 3em;
	background-color: var(--color_page);
}

.logo {
	min-width: 1px;
}
.logo__inside {
	font-family: var(--roboto);
	font-size: 3em;
}

.nav {
	grid-area: nav;
	background-color: var(--color_page);
}
.nav__link {
	color: var(--color_nav__link);
	position: relative;
}
.nav__link span::after {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);

	content: "";
	height: 0.2rem;
	width: 100%;
	background-color: var(--color_nav__link);
}

.content {
	grid-area: content;
	background-color: var(--color_page);
}

.content--padding_sm {
	padding: 1rem;
}
