.block {
	min-width: 1px;
}

.block--absolute {
	position: absolute;
}
.block--relative {
	position: relative;
}
.block--absolute_right_sm {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translate(0%, -50%);
}
.block--z_index_lg {
	z-index: 100;
}
.block--right_null {
	right: 0;
}

.block--top_sm {
	top: 10px;
}
.block--right_sm {
	right: 10px;
}
