:root {
	--row_margin--sm: 0px -10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: var(--row_margin--sm);
	/* margin: 0px -10px; */
}
.fn {
	flex-wrap: nowrap;
}

.row--align_center {
	align-items: center;
}
.row--justify_center {
	justify-content: center;
}
